
/* estilos,css base inicial */
html, body {
	font-family: Verdana,sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	background-color: #d6e7ed ;
}
@media only screen and  (min-width : 100px) and (max-width: 799px), only screen and (max-device-width: 799px) {
	.foto {
		position: relative;
		margin-left: 5px;
		margin-bottom: 5px;
		float: right;
		width: 30%;
		display: block;
	}
	.foto1 {
		position: relative;
		margin-left: 5px;
		margin-bottom: 5px;
		float: right;
		width: 20%;
		display: block;
	}
	.foto2 {
		position: relative;
		margin-left: 5px;
		margin-bottom: 5px;
		float: right;
		width: 10%;
		display: block;
	}
}
@media only screen and (max-width: 2000px) {
	.foto {
		position: relative;
		margin-left: 5%;
		margin-bottom: 5px;
		float: right;
		width: 50%;		
	}
	.foto1 {
		position: relative;
		margin-left: 5%;
		margin-bottom: 5px;
		float: right;
		width: 30%;		
	}
	.foto2 {
		position: relative;
		margin-left: 5%;
		margin-bottom: 5px;
		float: right;
		width: 15%;	
	}
}

/* Colores */
.color1{
	color: #351431;
}
.color2{
	color: #775253;
}
.color3{
	color: #bdc696;
}
.color4{
	color: #d1d3c4;
}
.color5{
	color: #0d0d0d;
}
.color6{
	color: dfe0dc;
}
.bcolor1{
	background-color: #351431;
}
.bcolor2{
	background-color: #775253;
}
.bcolor3{
	background-color: #bdc696;
}
.bcolor4{
	background-color: #d1d3c4;
}
.bcolor5{
	background-color: #0d0d0d;
}
.bcolor6{
	background-color: dfe0dc;
}
.titulo, .hover-white:hover {	
	background-color: #bf8404 !important;
}
.tituloPrincipa{
	color: rgb(192, 229, 243) !important;
}
.barraPadding {
	padding: 8px 16px !important;
}

.barra {
	width: 100%;
	overflow: hidden;
}
/* Forzar posicion*/
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.centrado{
	display:block;
	margin-left: auto;
	margin-right: auto;
  }
/* estilos del hipervinculo */
a:link, a:visited, a:active
{
font-size: 18px;
font-weight: bold;
text-decoration: none;
color: #23602d;
}
/* al pasar raton en hipervinculo*/
a:hover {
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	color:rgb(226, 135, 135);
  }
/* estilo video */
  video {
	max-width: 100%;
	height: auto;
  }
/* estilos de los botones */
.botonPrincipal {
	background-color: inherit ;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 20px !important;	
	outline:none;
	border: inherit;
	color: rgb(241, 150, 150) !important;
}
.boton1 {
	background-color: inherit ;
	border-color:  #f0ff21;
	color:rgb(185, 248, 219) !important;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	margin-right: 1rem !important;
}
/* estilo contenido*/
.contenido {
	text-align: center !important;
	padding-top: 32px !important;
	padding-bottom: 32px !important;
	font-size: 15px;
	line-height: 1.5;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 90px 180px;
	grid-gap: 10px;
	padding: 3%;
}
.contenido1 {
	text-align: center !important;
	padding-top: 2% !important;
	padding-bottom: 2% !important;
	font-size: 12px;
	line-height: 1.5;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 1% 1%;
	grid-gap: 10px;
	padding: 5%;
}
/* estilo contenido para grid personalizado*/
.item1 { grid-area: cabecera; }
.item2 { grid-area: izqierda; }
.item3 { grid-area: main; }
.item4 { grid-area: derecha; }
.item5 { grid-area: cola; }
.contenido2 {
	text-align: center !important;
	padding-top: 2% !important;
	padding-bottom: 2% !important;
	font-size: 15px;
	line-height: 1.5;
	display: grid;
	grid-template-areas:
	  'cabecera cabecera cabecera cabecera cabecera cabecera'
	  'izqierda main main main derecha derecha'
	  'izqierda cola cola cola cola cola';
	grid-gap: 10px;
	padding: 10px;
  }
.parrafo{
	padding: 5%;
}

